<%- include('./includes/header.ejs') %>
    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <%- include('./includes/side-bar.ejs') %>
            <!-- Dashboard Content
    ================================================== -->

            <script>
                setTimeout(() => {
                    var el = document.getElementById('artNumber')
                    var store = localStorage.getItem('artNumber')
                    if (store) for (var i of el.children) {
                        if (i.value.toLowerCase() == store.toLowerCase()) {
                            var { value, innerHTML } = el.children[0]
                            var temp = { value, innerHTML }
                            el.children[0].innerHTML = i.innerHTML
                            el.children[0].value = i.value
                            i.value = temp.value
                            i.innerHTML = temp.innerHTML

                        }
                    }
                }, 1000)
            </script>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">
                    <div class="mx-auto col-xl-4">
                        <select id="artNumber" class="form-control-select">
                            <% for(var el of articles) {%>
                                <option value="<%=el.ArticleNumber%>">
                                    <%=el.ArticleNumber%>
                                </option>
                                <% } %>
                        </select>
                        <center>
                            <button onclick="changeArticle()" class=" btn text-center btn-primary">
                                Change Article Number
                            </button>
                        </center>
                    </div>
                    <%- include('./includes/footer.ejs') %>