<%- include('./includes/header.ejs') %>
    <!-- Dashboard Container -->
    <style>
        .prod-list-ul {
            margin-left: -20px !important;
        }

        .prod-list-ul >* {
            margin-top: 10px !important;
        }

        .oms-fort-select {
            height: auto;
            padding: 0;
            margin: 0 0 12.1px 0;
        }
    </style>
    
    <div class="dashboard-container">
        <%- include('./includes/side-bar.ejs') %>
            <!-- Dashboard Content
    ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">
    

            <div class="d-flex mx-xl-5 mt-xl-4">
                <div class="row mx-xl-5">
                    <div class="col-xl-4 mx-xl-5">
                        <h1 class="text-center"><b class="mx-xl-4">OMS</b></h1>
                        <ol class="prod-list-ul">
                            <% for(var i of oms) {%>
                                <li class="text-center ">
                                    <span class="bg-light rounded w-100">
                                        <span class="mx-2">
                                            <%=i%>
                                        </span>
                                    </span>
                                </li>
                                <% } %>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-4 ">
                    <h1><b>Fortnox</b></h1>
                    <ol class="prod-list-ul">
                        <% for(var i of oms) {%>
                            <li>
                                <select name="" id="" class="oms-fort-select">
                                    <%for (var j of fort) {%>
                                        <option value="<%=j%>">
                                            <%=j%>
                                        </option>
                                        <%}%>
                                </select>
                                <%}%>
                            </li>
                    </ol>
                </div>
            </div>



            <%- include('./includes/footer.ejs') %>