<%- include('./includes/header.ejs') %>
    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <%- include('./includes/side-bar.ejs') %>
            <!-- Dashboard Content
    ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>Manage Ongoing Projects</h3>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li>Ongoing Projects</li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Row -->
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">
                                <div>
                                    <%- include ("./partials/messages") %>
                                </div>
                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-feather-award"></i><%= orders.length %> Ongoing Project(s)</h3>
                                </div>

                                <div class="content">
                                    <main style="overflow-x:auto;">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="vertical-align:top">Customer</th>
                                                    <th style="vertical-align:top">Customer Order Number</th>
                                                    <th style="vertical-align:top">Accomplished</th>
                                                    <th style="vertical-align:top">Order Date</th>
                                                    <th style="vertical-align:top">Order Deadline</th>
                                                    <th style="vertical-align:top">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (orders && orders.length> 0) { %>
                                                    <% for (let order of orders) { %>
                                                        <tr>

                                                            <td>
                                                                <!-- <a href="/get-order-status/<%= order._id %>?edit=true">
                                                                    <%=order.customer%>
                                                                </a> -->
                                                                <%=order.customer%>

                                                                    <!-- <a href="">
                                                                    <%=order.customer%>
                                                                </a> -->
                                                            </td>
                                                            <td>
                                                                <%= order.customerOrderNumber%>
                                                            </td>
                                                            <td>
                                                                <%= order.accomplished%>
                                                            </td>
                                                            <td>
                                                                <% if (order.orderDate !=null) { %>
                                                                    <%= order.orderDate.toDateString() %>
                                                                        <% } %>
                                                            </td>

                                                            <td>
                                                                <% if (order.orderDeadline !=null) { %>
                                                                    <%= order.orderDeadline.toDateString() %>
                                                                        <% } %>
                                                            </td>
                                                            <td>
                                                                <%= order.status %>
                                                            </td>
                                                            <td><a class="btn btn-info"
                                                                    href="/get-ongoing-project/<%= order._id %>"
                                                                    class="button ripple-effect"><i
                                                                        class="icon-line-awesome-pencil"></i>
                                                                    Update</a>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                            <% } else { %>
                                                                <h1>No Orders Found!</h1>
                                                                <% } %>
                                            </tbody>
                                        </table>

                                        <div class="col-xl-12">
                                            <div class="submit-field">
                                                <b>
                                                    <hr>
                                                </b>
                                            </div>
                                        </div>

                                        
                                    </main>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Row / End -->
                    
                    <%- include('./includes/footer.ejs') %>