<!doctype html>
<html lang="en">

<head>
    <base href="/">
    <!-- Basic Page Needs
    ================================================== -->
    <title>OMS 🚀 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicon
    ==================================-->
    <link href="/images/order.png" rel="shortcut icon" type="image/x-icon" />

    <!-- CSS
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/colors/theme.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />

    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
        <style>.checkbox-1x {
             transform: scale(0.5);
            -webkit-transform: scale(0.5);
            margin-right: 0.5px;
            margin-left: -10px;
            
            display:inline-block;
        }
        </style>
</head>





<body class="gray">
   
    <!--<%- include('./includes/header.ejs') %>
   <!-- Dashboard Container -->
   <div class="dashboard-container">
    
        <!--<%- include('./includes/side-bar.ejs') %>
           <!-- Dashboard Content
   ================================================== -->
           <div class="dashboard-content-container" data-simplebar>
               <div class="dashboard-content-inner">
                <%- include ("./partials/messages") %>
                   <!-- Row -->
                   <div class="row">
                   
                       <!-- Dashboard Box -->
                       <div class="col-xl-5">
                           <div class="dashboard-box margin-top-0">

                               <!-- Headline -->
                               <div class="headline">
                                   <h2> Customer Support</h2>
                                   <br>

                                   

                                  <a class="button small ripple-effect" href="/ticket-data/<%= ticket._id %>" style="width:150px;">Andra</a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                                  <a class="button small ripple-effect" href="/ticket-archive/<%= ticket._id %>" style="width:150px;">Arkivera</a>
                                  
                                   
                               </div>
                               
                               

                                   
                                       <div class="content with-padding padding-bottom-50">
                                           
                                        <H3><span><font color="gray"><i class="icon-feather-mail"></i></font></span>&nbsp;&nbsp;<%= ticket.Subject %></H3>
                                        <br>
                                        
                                    <span><font color="gray">Skapad Av</font> <%= user.email %> <b></b></span>
                                        <br>
                                        <span><font size="2pt;" color="gray">Created At <%= ticket.timestamp %> </font></span>
                                        <br>
                                        <span><font size="2pt;" color="Blue"><%= ticket.Customer_info.name %> </font></span><br>
                                        <span><font size="2pt;" color="Black"><%= ticket.Customer_info.organization %> </font></span>
                                        <br>
                                        <br>
                                        <span><b>B</b></H2>&nbsp;&nbsp;&nbsp;&nbsp;<font size="2pt;" color="Black"><%= ticket.Description %> </font></span>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <a href="mailto:<%= ticket.Customer_info.mail %>?subject=your title&body=TThe message">
                                                <button class="button gray small ripple-effect " id="btnOutlook">Svara</button>
                                            </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button class="button gray small ripple-effect ">Email Historik</button>
                                        </div>
                                       <div class="row float-right">
                                          
                                             </div>

                               </div>
                                   
                           </div>
                           <br>
                           <div class="dashboard-box margin-top-0">
                            <% for(var i=0;i<ticket.Notes.length;i++){ %>
                            <div class="dashboard-content-inner">
                            
                                <H5><b>anteckning Av  : &nbsp;  <%= ticket.Notes[i].author %></b></font></H5>
                                <span ><font size="1pt;"><%- new Date(ticket.Notes[i].timestamp) %></font></span>
                                <br>
                            <div class="row">
                                
                                
                                
                                <button class="button disabled small text-left" style="height:40px;width:40px;" >
                                    <span ><font size="1px;" ><%= ticket.Notes[i].author[0].toUpperCase() %></font></span>
                                </button>
                                
                                &nbsp;&nbsp;&nbsp;
                                <p id="double-spaced" style="line-height: 135%;font-size:10pt;">
                                    <%= ticket.Notes[i].data %>
                                </p>
                                <br>
                                
                                
                                <span><font size="2pt;">Tagged Uers : &nbsp; <%= ticket.Notes[i].tagged %></font></span>
                                
                            </div>
                        </div>
                            <br>
                            <% } %>
                           </div>
                       </div>
                       <div class="col-md-3">
                           <div class="dashboard-box margin-top-0">
                               <div class="headline">
                                   <H2>Oppen</H2>
                                    
                                </div>
                           <div class="content with-padding padding-bottom-10">
                               
                            <form action="/<% if (editing) { %>update-ticket-partial<% } else { %>update-ticket-partial<% } %>"
                                method="POST">
                               <span class="float-left">Egenskaper</span>
                               <br>
                               <br>
                               <div class="row">
                                   <div class="submit-field">
                                    <h5>Ansvarig</h5>
                                    <select name="User" class="form-control form-control-sm" style="width:150px;" id="sel1">
                                        <option selected="selected">
                                            <%= user.email %>
                                            </option>
                                        <% for(var i=0;i<users.length;i++) { %>
                                            <% if(users[i].email != user.email) { %>
                                            <option><%= users[i].email %></option>
                                             <% } %>
                                             <% } %>

                                      </select>
                                   </div>
                                   <div class="submit-field">
                                       <h5>Typ</h5>
                                       <select value="<%= ticket.Type %>" name="Type" class="form-control form-control-sm" style="width:150px;" id="sel1">
                                           <option selected="selected"><%= ticket.Type %></option>
                                           <option >Ekonomi</option>
                                           <option>RoomMate</option>
                                           <option>NeatSeat</option>
                                           <option>Sit&Shower</option>
                                           <option>Nucleus</option>
                                           <option>Internetanslutning</option>
                                           
                                         </select>
                                   </div>
                                   <div class="submit-field">
                                       <h5>Status <font color="red">&nbsp; *</font></h5>
                                       <select name="Status" class="form-control form-control-sm" style="width:150px;" id="sel1">
                                           <option selected="selected"><%= ticket.Status %></option>
                                           <option>Problemsökning</option>
                                           <option>Bokat besök</option>
                                           <option>Inväntar svar</option>
                                           <option>Löst</option>
                                         </select>
                                   </div>
                                   <div class="submit-field">
                                       <h5>Prioritet</h5>
                                       <select name="Priority" class="form-control form-control-sm" style="width:150px;" id="sel1">
                                           <option selected="selected"><%= ticket.Priority %></option>
                                           <option>Låg</option>
                                           <option> Medium</option>
                                           <option>Hög</option>
                                           <option>Brådskande</option>
                                         </select>
                                       
                                           
                                   </div>
                                   <input type="text" name="ticketid" value = "<%= ticket._id %>" hidden/>
                                   <button class="button small ripple-effect " type="submit" id="dropdownMenuButton" >
                                    Updattera
                                  </button>
                               </div>
                               </form>
                           </div>
                       </div>
                       </div>
                       <div class="col-md-4">
                           <div class="dashboard-box margin-top-0 navbar-brand">
                               <H5 style="margin-left:10px;"><b>KONTAKTUPPGIFTER</b></H5>
                           <div class="content with-padding padding-bottom-10">
                              <div class="row">
                                <button class="button disabled small text-left" style="height:50px;width:50px;" >
                                    <% if (ticket.Customer_info.name != '') { %>
                                    <span ><%= ticket.Customer_info.name[0].toUpperCase() %></span>
                                    <% } else { %>
                                        <span><i class="icon-feather-user"></i>&nbsp;</span>
                                    <% } %>
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <p id="double-spaced" style="line-height: 135%;font-size:7pt;">
                                
                                <br>
                                <span><%= ticket.Customer_info.name %></span>&nbsp; 
                                <br>
                                <span><%= ticket.Customer_info.organization %></span>
                                </p>
                                </div>
                                <br>
                                <div class="container">
                                <span><font color="gray" size="1pt;" color="Gray">E-Post:</font></span>&nbsp;
                                <br>
                                <span><font size="1pt;" color="Gray"><b><%= ticket.Customer_info.mail %></b></font></span>
                                    <br>
                                <span><font color="gray" size="1pt;" color="Gray">Tele:</font></span>&nbsp;
                                <br>
                                <span><font size="1pt;" color="Gray"><b><%= ticket.Customer_info.telephone %></b></font></span>
                            </div>
                           </div>
                       </div>
                       <br>
                       <div class="dashboard-box margin-top-0">
                    <div class="content with-padding padding-bottom-10">
                        
                     <form action="/<% if (editing) { %>update-ticket-notes<% } else { %>update-ticket-notes<% } %>"
                         method="POST">
                        <div class="row">
                            <div class="submit-field">
                                <h4>Lag till anteckning</h4>
                                <textarea name="data" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            <div class="submit-field">
                             <h4>Tagga Anvandare</h4>
                             <select name="tagged" class="form-control form-control-sm" style="width:150px;" id="sel1">
                                 <option selected="selected">
                                     <%= user.email %>
                                     </option>
                                 <% for(var i=0;i<users.length;i++) { %>
                                     <% if(users[i].email != user.email) { %>
                                     <option><%= users[i].email %></option>
                                      <% } %>
                                      <% } %>

                               </select>
                            </div>
                            <input name="author" value = "<%= user$.email %>" class="form-control form-control-sm" id="inputsm" type="text
                                           
                                           "
                                            hidden>
                            
                            
                            <input type="text" name="ticketid" value = "<%= ticket._id %>" hidden/>
                            <br>
                            
                        </div>
                        <button class="button small ripple-effect " type="submit" id="dropdownMenuButton" >
                            Updattera
                          </button>
                        </form>
                    </div>
                </div>

                       </div>
                       </div>
                   
                   <br><br>



                   </div>
                   <!-- Row / End -->
                   


</div>
<!-- Wrapper / End -->
<!-- Scripts
================================================== -->
<!-- dismissible alerts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
   integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
   crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
   integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
   crossorigin="anonymous"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/chart.min.js"></script>
<script>function successfunc() {
    alert("Supportbiljett har lagts till.");
  }</script>


</body>