<div class="col-xl-12">
    <div class="submit-field">
        <hr>
    </div>
</div>
<div class="col-xl-12">
    <div class="submit-field">
        <h3><b>Sit&Shower</b></h3>
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Number of units</h5>
        <input <%- disabled ? (' disabled') : '' %> type="number"
            name="sitShower_units" class="with-border"
            placeholder="Number of units"
            value="<% if (editing) { %><%= order.sitShower.units.bought %><% } %>">
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Period(months)</h5>
        <input <%- disabled ? (' disabled') : '' %> type="number"
            name="sitShower_period" class="with-border"
            placeholder="Period(months), sold"
            value="<% if (editing) { %><%= order.sitShower.period %><% } %>">
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Installation</h5>
        <select name="sitShower_installation"
            id="sitShower_installation"
            class="browser-default custom-select "
            data-live-search="true">
            <% if (editing) { %>
                <% if (order.sitShower.installation) { %>
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>      
                <% } else { %>
                    <% if (order.sitShower.installation === undefined) { %>
                            <option value="" selected>Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                    <% } else { %>
                            <option value="true">Yes</option>
                            <option value="false" selected>No</option>
                    <% } %>
                <% } %>
            <% } else { %>
                <option value="" selected>Select</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            <% } %>
        </select>
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Type</h5>
        <select name="sitShower_type"
            id="sitShower_type"
            class="browser-default custom-select "
            data-live-search="true">
            <% if (editing) { %>
                <option value="rent" <%- order.sitShower.type === 'rent' ? 'selected' : '' %>>Rent</option>
                <option value="sold" <%- order.sitShower.type === 'sold' ? 'selected' : '' %>>Sold</option>
            <% } else { %>
                <option value="rent" selected>Rent</option>
                <option value="sold">Sold</option>
            <% } %>
        </select>
    </div>
</div>
<!-- ;;; -->
<div class="col-xl-12">
    <div class="submit-field">
        <h4>Sit&Shower, Rent Accessories<button type="button"
                onclick="toggleCollapse('hide_sit_shower_div')"><i
                    class="icon-feather-chevron-down"></i></button>
        </h4>
    </div>
</div>
<div class="container-fluid" id="hide_sit_shower_div"
    style="display:none">
    <div class="row">
        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Hygienstol</h5>
                <input <%- disabled ? (' disabled') : '' %> type="number"
                    name="sitShower_accessories_hygeinstol" class="with-border"
                    placeholder="Hygienstol"
                    value="<% if (editing && order.sitShower.accessories.hygeinstol) { %><%= order.sitShower.accessories.hygeinstol.bought %><% } %>">
            </div>
        </div>
        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Soap</h5>
                <input <%- disabled ? (' disabled') : '' %> type="number"
                    name="sitShower_accessories_soap" class="with-border"
                    placeholder="Soap"
                    value="<% if (editing && order.sitShower.accessories.soap) { %><%= order.sitShower.accessories.soap.bought %><% } %>">
            </div>
        </div>
        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Shampoo</h5>
                <input <%- disabled ? (' disabled') : '' %> type="number"
                    name="sitShower_accessories_shampoo" class="with-border"
                    placeholder="Shampoo"
                    value="<% if (editing && order.sitShower.accessories.shampoo) { %><%= order.sitShower.accessories.shampoo.bought %><% } %>">
            </div>
        </div>
        <div class="col-xl-4">
            <div class="submit-field">
                <h5>Golvslist</h5>
                <input <%- disabled ? (' disabled') : '' %> type="number"
                    name="sitShower_accessories_golvslist" class="with-border"
                    placeholder="Golvslist"
                    value="<% if (editing && order.sitShower.accessories.golvslist) { %><%= order.sitShower.accessories.golvslist.bought %><% } %>">
            </div>
        </div>
        
    </div>
</div>