<% if (product && product.units && product.units.bought > 0) { %> 
    <tr>
        <td>RoomMate <%= product.type %></td>
        <td><%= product.units.bought %></td>
        <td><%= product.units.left %></td>
        <td><%= product.installation === undefined ? "" : product.installation.toString() %></td>
    </tr>
    <% if (product.accessories) { %>
        <tr>
            <td colspan="4" style="width:100%">RoomMate <%= product.type %>, Accessories<button
                    onclick="toggleCollapse('hide_roomate_hyra_div')"><i
                        class="icon-feather-chevron-down"></i></button></td>
        </tr>
        <tr>
            <td colspan="4" style="width:100%">
                <div class="container-fluid" id="hide_roomate_hyra_div"
                    style="display:none">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Accessory:</th>
                                    <th>Units</th>
                                    <th>Left to implement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%
                                    const accessoryKeys = Object.keys(product.accessories);
                                    for (let accessoryIndex = 0; accessoryIndex < accessoryKeys.length; accessoryIndex++) {
                                        const accessoryKey = accessoryKeys[accessoryIndex];
                                        const accessory = { key: accessoryKey, value: product.accessories[accessoryKey] };
                                %>
                                        <tr>
                                            <td><%= accessory.key %></td>
                                            <td><%= accessory.value.bought %></td>
                                            <td><%= accessory.value.left %></td>
                                        </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    <% } %>
<% } %>