<div class="col-xl-4">
    <div class="submit-field">
        <h5>Other Installer</h5>
        <input type="text" name="deliveryOtherInstaller_name" class="with-border"
            placeholder="Name"
            value="<% if (editing && delivery.otherInstaller) { %><%= delivery.otherInstaller.name %><% } %>">
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Company Name</h5>
        <input type="text" name="deliveryOtherInstaller_company" class="with-border"
            placeholder="Company Name"
            value="<% if (editing && delivery.otherInstaller) { %><%= delivery.otherInstaller.company %><% } %>">
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Phone nr</h5>
        <input type="text" name="deliveryOtherInstaller_contact" class="with-border"
            placeholder="Phone nr"
            value="<% if (editing && delivery.otherInstaller) { %><%= delivery.otherInstaller.contact %><% } %>">
    </div>
</div>

<div class="col-xl-4">
    <div class="submit-field">
        <h5>Email</h5>
        <input type="text" name="deliveryOtherInstaller_email" class="with-border"
            placeholder="Email"
            value="<% if (editing && delivery.otherInstaller) { %><%= delivery.otherInstaller.email %><% } %>">
    </div>
</div>
<div class="col-xl-4">
    <div class="submit-field">
        <h5>Date</h5>
        <input type="date" name="deliveryOtherInstaller_date"
            class="with-border" placeholder="Date"
            value="<% if (editing && delivery.otherInstaller && delivery.otherInstaller.date) { %><%= delivery.otherInstaller.date.toDateString() %><% } %>">
    </div>
</div>