<%- include('../../includes/header.ejs') %>
    <!-- Dashboard Container -->
    <div class="dashboard-container">
        <%- include('../../includes/side-bar.ejs') %>
            <!-- Dashboard Content
    ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>User Hubspot Engagements</h3>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs" class="dark">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Dashboard</a></li>
                                <li>User Hubspot Engagements</li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Row -->
                    <div class="row" style="display:''">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0" style="overflow-x:auto;">
                            <div class="headline">
                                <h3><i class="icon-feather-flag"></i>
                                    <%= userEngagementsCount %>
                                        User Hubspot Engagements
                                </h3>
                            </div>

                            <div class="container-fluid">
                                <main>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="vertical-align:top">Username</th>
                                                <th style="vertical-align:top">Email</th>
                                                <th style="vertical-align:top">Calls</th>
                                                <th style="vertical-align:top">Meetings</th>
                                                <th style="vertical-align:top">Emails</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (userEngagements.length> 0) { %>
                                                <% for (let engagement of userEngagements) { %>
                                                    <tr>
                                                        <td>
                                                            <%=engagement.username%>
                                                        </td>
                                                        <td>
                                                            <%=engagement.email%>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/hubspot/engangements/calls/<%=engagement._id%>"><%=engagement.calls.length%></a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/hubspot/engangements/meetings/<%=engagement._id%>"><%=engagement.meetings.length%></a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/hubspot/engangements/emails/<%=engagement._id%>"><%=engagement.emails.length%></a>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            <% } else { %>
                                                <h1>No Hubspot users Found!</h1>
                                            <% } %>
                                        </tbody>

                                    </table>
                                </main>

                            </div>
                            
                        </div>
                        </div> 

                    </div>
                    <!-- Row / End -->
                </div>
            </div>

            <%- include('../../includes/footer.ejs') %>