<div class="col-xl-12">
    <div class="submit-field">
        <h5><%= product.label %> <%= product.type %> - <%= product.units.bought %> units</h5>
    </div>
</div>

<% for (let i = 0; i < product.units.bought; i++) { %>

    <% console.log(activeUnits, editing) %>

    <div class="col-xl-12">
        <div class="submit-field">
            <h5>Unit <%= i + 1 %></h5>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="col-xl-4 pl-0">
            <div class="submit-field">
                <h5>Active Units</h5>
                <select name="activeUnits<%= i %>_enabled">
                    <option value="" <%- editing ? activeUnits[i] && activeUnits[i].enabled === undefined || activeUnits[i] && activeUnits[i].enabled === null ? 'selected' : '' : '' %>>Select</option>
                    <option value="false" <%- editing ? activeUnits[i] && activeUnits[i].enabled === false ? 'selected' : '' : '' %>>No</option>
                    
                </select>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Enhetsbeteckning</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_unit"
                placeholder="Enhetsbeteckning"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].unit %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Wifi eller 4G?</h5>
            <select name="activeUnits<%= i %>_wifiOr4G">
                <option value="" <%- editing ? activeUnits[i] && activeUnits[i].wifiOr4G === undefined || activeUnits[i] && activeUnits[i].wifiOr4G === null ? 'selected' : '' : '' %>>Select</option>
                <option value="wifi" <%- editing ? activeUnits[i] && activeUnits[i].wifiOr4G === 'wifi' ? 'selected' : '' : '' %>>WiFi</option>
                <option value="4g" <%- editing ? activeUnits[i] && activeUnits[i].wifiOr4G === '4g' ? 'selected' : '' : '' %>>4G</option>
            </select>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Wifi närverk(SSID)</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_wifiNetwork"
                placeholder="Wifi närverk(SSID)"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].wifiNetwork %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Lösenord</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_password"
                placeholder="Lösenord"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].password %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Sim-kort nr</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_simCard"
                placeholder="Sim-kort nr"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].simCard %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Fakturanummer</h5>
            <input type="text" class="with-border" disabled
                value="<%= invoiceNumber %>">
        </div>
    </div>
<% } %>