<div class="col-xl-12">
    <div class="submit-field">
        <h5><%= product.label %> <%= product.type %> - <%= product.units.bought %> units</h5>
    </div>
</div>

<% for (let i = 0; i < product.units.bought; i++) { %>
    <div class="col-xl-12">
        <div class="submit-field">
            <h5>Unit <%= i + 1 %></h5>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="col-xl-4 pl-0">
            <div class="submit-field">
                <h5>Active Units</h5>
                <select name="activeUnits<%= i %>_enabled">
                    <option value="" <%- editing ? activeUnits[i] && activeUnits[i].enabled === undefined || activeUnits[i] && activeUnits[i].enabled === null ? 'selected' : '' : '' %>>Select</option>
                    <option value="false" <%- editing ? activeUnits[i] && activeUnits[i].enabled === false ? 'selected' : '' : '' %>>No</option>
                    <option value="true" <%- editing ? activeUnits[i] && activeUnits[i].enabled ? 'selected' : '' : '' %>>Yes</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Serienummer</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_serialNumber"
                placeholder="Serienummer"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].serialNumber %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Wifi närverk(SSID)</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_wifiNetwork"
                placeholder="Wifi närverk(SSID)"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].wifiNetwork %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Lösenord</h5>
            <input type="text" class="with-border"
                name="activeUnits<%= i %>_password"
                placeholder="Lösenord"
                value="<% if (editing) { %><%= activeUnits[i] && activeUnits[i].password %><% } %>">
        </div>
    </div>

    <div class="col-xl-4">
        <div class="submit-field">
            <h5>Fakturanummer</h5>
            <input type="text" class="with-border" disabled
                value="<%= invoiceNumber %>">
        </div>
    </div>
<% } %>